.refresh {
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer; }

.bar {
  background-color: #f7f7f7;
  border-radius: 3px; }
  .bar .progress {
    background-color: #6cb7ec;
    border-radius: 4px;
    text-align: right;
    color: #fff;
    max-width: 100%; }
    .bar .progress.limit-reached {
      background-color: #9e0000; }
    .bar .progress .percentage {
      padding-right: 5px; }

.mt-20 {
  margin-top: 20px; }

.button-container .btn-increment {
  margin: 0 10px 5px 0;
  width: 55px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }
  .button-container .btn-increment:last-child {
    margin-right: 0; }
  .button-container .btn-increment.positive {
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941; }
    .button-container .btn-increment.positive:hover {
      background-color: #569e3d;
      background-image: -webkit-linear-gradient(#79d858, #569e3d);
      background-image: linear-gradient(#79d858, #569e3d);
      border-color: #4a993e; }
    .button-container .btn-increment.positive:focus {
      outline: none; }
    .button-container .btn-increment.positive span {
      position: relative;
      top: -1px;
      right: 1px; }
  .button-container .btn-increment.negative {
    background-color: #b04444;
    background-image: -webkit-linear-gradient(#dd6d6d, #b04444);
    background-image: linear-gradient(#dd6d6d, #b04444);
    border-color: #9e0000; }
    .button-container .btn-increment.negative:hover {
      background-color: #9e3c3c;
      background-image: -webkit-linear-gradient(#cc6464, #9e3c3c);
      background-image: linear-gradient(#cc6464, #9e3c3c);
      border-color: #980000; }
    .button-container .btn-increment.negative:focus {
      outline: none; }

.limit {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: #9e0000;
  color: white;
  text-align: center;
  border-radius: 5px 0 0; }
  .limit .limit-value {
    font-size: 2em;
    font-weight: 700; }

.ux-loader {
  position: relative;
  height: 6px;
  margin: 100px auto;
  width: 84px; }
  .ux-loader .block {
    display: inline-block;
    width: 28px;
    height: 6px;
    position: absolute;
    bottom: 0; }
    .ux-loader .block.block-1 {
      background-color: #FECB45;
      animation: example 1.2s linear 0s infinite;
      left: 0; }
    .ux-loader .block.block-2 {
      background-color: #FC6769;
      animation: example 1.2s linear 0.1s infinite;
      left: 28px; }
    .ux-loader .block.block-3 {
      background-color: #169998;
      animation: example 1.2s linear 0.2s infinite;
      left: 56px; }

@keyframes example {
  0% {
    height: 6px; }
  18% {
    height: 28px; }
  32% {
    height: 6px; }
  100% {
    height: 6px; } }
